/*Aqui va a ir los estilos css para el index.htlm*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: yellow;
}

/* Voy a darle estilos al body 
body{
    background-color: azure;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
/* Voy a darle estilos al header 
header{
    background-color: bisque;
    text-align: right;
}

header h1{
    color: blue;
}

.menu{
    text-align: center;
}*/

/*Aqui va a ir los estilos css apra el index.html*/
*{ 
    /*Elimina el margen por defecto de todos los elementos html*/
    margin: 0;
    /*Elimina el padding por defecto de todos los elementos html*/
    padding: 0;
    /* Definimos el modelo de cajas para navegadores basados en webkit
    googleChrome, internetexplorer,edge*/
    -webkit-box-sizing: border-box;
    /*
    Definimos el mode de cajas para navegadores basados en mozilla
    firefox, opera*/
    -moz-box-sizing: border-box;
    /* Definimos el modelo de cajas para navegadores basados en el estandar*/
    box-sizing: border-box;
}
/* Definimos los estilos para el body*/

body{
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
}

/* trabajamos en los estilos de la clase contenedor*/
.contenedor{
    /* Definimos el ancho del contenedor*/
    width: 90%;
    /* Definimos el color de fondo del contenedor*/
    /*background-color: aqua;
    /* definimos la anchura maxima del contenedor*/
    max-width: 1000px;
    /* definimos el margen en automatico para centrar el contenedor*/
    margin:auto;
    /* Ocultamos el borde del contenedor*/
    overflow: hidden;
}
/*Le damos estilos al header*/
header{
    /* Definimos el tamaño del header a un 100%*/
    width: 100%;
    background: url('../img/8.jpg') #281a0c;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 0;
}

/*Le damos estilo al header y que busque una clase  que se llame contenedor*/
header .contenedor{
    position: relative;
    height: 700px;
}
/*Le damos estilos al menu dentro del header*/
header .menu{
/*Le damo el tamaño de la anchura*/
    width: 100%;
    /*Le decimos que alinee el texto a la derecha*/
    text-align: left;
} 
/*Le damos estilos a las etiquetas del menu*/
header .menu a{
    /*Le damos un color a las etiquetas a*/
    color: #fff;
    font-size: 20px;
    /*quita el negrito de las letras*/
    font-weight: 300;
    /*display: inline-block;*/
    margin: 40px 20px;
    text-decoration: none;
    position: relative;
}
/*Ultilizamos la pseudo clase hover para cambiar el color de las etiquetas a*/
header .menu a:hover{
    text-decoration: underline;
    color: #b1117c;
}
header .texto{
    width: 100%;
    color: #fff;
    position: absolute;
    top: 50%;
    margin-top: -52px;
}

header .texto .nombre{
    font-size: 50px;
    font-weight: 600;
}

header .texto .nombre span{
    font-weight: 300;
}

header .texto h3{
    font-weight: 300;
    font-size: 25px;
    font-style: italic;+
}

/*---------Aca trabajamos en la seccion main-------------*/
.main{
    /*imagen de fondo*/
    background: url('../img/11.jpg');
    /*hace que la pagina se repita*/
    background-repeat: repeat;
}

.main .acerca-de .contenedor{
    overflow: visible; /*el over flow es para que no se desborde el contenedor*/
    position: relative; 
}

.main .acerca-de .foto{
    width: 80%;
    position: absolute; /*se le da un posicionamiento absoluto*/
    left: 0; /*se le da un posicionamiento a la izquierda*/
    top: -50px; /*se le da un posicionamiento a la parte superior*/
    z-index: 0; /*se le da un indice z a la imagen*/
    box-shadow: 0px 0px 15px  rgba(0, 0, 0, .5); /*se le da una sombra a la imagen*/
}

.main .acerca-de .foto img{
    vertical-align: top;
    width: 100%;
}

.main .acerca-de article{
    background-color: #fff;
    padding: 40px;
    width: 75%;
    position: relative;
    top: 100px;
    z-index: 1;
    float: right;
    box-shadow: 0px 0px 15px  rgba(0, 0, 0, .5); /*se le da una sombra a la imagen*/
}

.main .acerca-de article h3{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 40px; /*se le da un margen inferior de 40px*/
}

.main .acerca-de article p{
    line-height: 20px;
    margin-bottom: 15px; /*se le da un margen inferior de 15px*/
}

/* seccion menu*/

.main .menu {
    padding-top: 650px; /*se le da un padding superior de 650px*/
    margin-bottom: 50px;
}

.main .menu .titulo{
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
}

.main .menu .contenedor-menu, 
.main .menu .contenedor-menu2{
  border: 1px solid #000; /*se le da un borde de 1px solido*/
  background: transparent;  /*se le da un fondo transparente*/
  padding: 10px;
  overflow: hidden;
}

.main .menu article{
    width: 50%;
    float: left;
    padding: 20px;
}

.main .menu .categoria{
    font-size: 22px;
    font-weight: 700; /*se le da un peso de 700 a la fuente*/
    margin-bottom: 40px; /*se le da un margen inferior de 40px*/
    text-align: center;
}   

.main .menu .platillo{
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 4px dotted #000;
    overflow: hidden;
}

.main .menu .nombre{
    font-size: 20px;
    margin-bottom: 15px;
    float: left;
}

.main .menu .precio{
    font-size: 20px;
    margin-bottom: 15px;
    float: right;
}

.main .menu .descripcion{
    font-size: 16px; /*se le da un tamaño de 16px a la fuente*/
    color: #676767; /*se le da un color gris a la fuente*/
    clear: both; /*se le da un clear a ambos lados*/

}
/*Estilos a la seccion galeria*/

.main .galeria{
    overflow: hidden; /*el over flow es para que no se desborde el contenedor*/
}

.main .galeria .foto{
    width: 25%; /*se le da un ancho de 25%*/
    float: left;
}

.main .galeria .foto img{
    width: 100%;
    vertical-align: top;    /*se le da un alineado vertical a la parte superior*/
    opacity: 0.7; /*se le da una opacidad de 0.7 a la imagen*/

}

.main .galeria .foto img:hover{
    opacity: 1; /*se le da una opacidad de 1 a la imagen al pasar el mouse por encima*/
    -webkit-transition: all 0.3s ease;  /*se le da una transicion de 0.3s a la imagen al pasar el mouse por encima*/
    -o-transition: all 3.5s ease; /*se le da una transicion de 0.3s a la imagen al pasar el mouse por encima*/
    transition: all 0.3s ease;  /*se le da una transicion de 0.3s a la imagen al pasar el mouse por encima*/
}

/*----UBICACION---*/

.main .ubicacion{
    background: #ffffff; 
    padding: 60px; 
    overflow: hidden; /*el over flow es para que no se desborde el contenedor*/
}

.main .ubicacion .titulo{
    text-align: center;  /*se le da un alineado al centro*/
    font-size: 40px; /*se le da un tamaño de 40px a la fuente*/
    line-height: 40px; /*se le da un tamaño de 40px a la fuente*/
    font-weight: 300; /*se le da un peso de 300 a la fuente*/
    margin-bottom: 40px; /*se le da un margen inferior de 40px*/
}
.main .ubicacion .direccion{
    float: left;    /*se le da un alineado a la izquierda*/
    width: 50%; /*se le da un ancho de 50%*/
    text-align: left;   /*se le da un alineado a la izquierda*/
}   

.main .ubicacion .horarios{
    float: right;   /*se le da un alineado a la derecha*/
    width: 50%; /*se le da un ancho de 50%*/
    text-align: right;
    overflow: hidden;
}

.main .ubicacion .direccion .calle{
    margin-bottom: 15px;    /*se le da un margen inferior de 15px*/
} 

.main .ubicacion .horarios h4{
    text-align: center;     /*se le da un alineado al centro*/
    font-size: 20px; /*se le da un tamaño de 20px a la fuente*/
    margin-bottom: 20px;
}

.main .ubicacion .horarios .entre-semana,
.main .ubicacion .horarios .fin-semana{
    width: 50%;
    float: left;
    text-align: center;
}

.main .mapa{
    width: 50%; /*se le da un ancho de 50%*/
    overflow: hidden; /*el over flow es para que no se desborde el contenedor*/
    margin: auto; /*se le da un margen de auto*/
    
}

.main .mapa iframe{
    width: 100%; /*se le da un ancho de 100%*/
    max-height: 600px; /*se le da un maximo de 600px*/
}

/*--footer--*/

footer{
    background: #8f3b41; /*se le da un fondo de color #8f3b41*/
}

.contenedor .copyrigth{
    text-align: center;
    padding: 8px;
    color: #c7acac;
    font-weight: 900;
}

/*-----------MEDIA QUERIES-----------*/
/*Las media queries en CSS son una herramienta poderosa que permite aplicar estilos diferentes a un sitio web según 
las características del dispositivo del usuario, como el ancho o la altura de la pantalla, la orientación (vertical u 
horizontal) o incluso la resolución. Son fundamentales para diseñar sitios web responsivos, es decir, que se adapten de 
manera óptima a distintas pantallas, como computadoras, tablets o teléfonos móviles.*/


@media screen and (max-width: 800px){ /*Este bloque define estilos que se aplican cuando el ancho de la pantalla es de 800px o menos. 
    Esto puede ser útil para dispositivos como tablets y móviles.*/
    header .contenedor{
        position: static;  /*es distinto al header .contenedor por la adptavilidad que pude tener en la web, lo que oblida a mantenerse estatico al condicionar con max-width*/
        height: auto;
    }

    header .texto{ 
        position: static; /*es distinto al header .contenedor por la adptavilidad que pude tener en la web,
         lo que oblida a mantenerse estatico al condicionar con max-width*/  
        margin: 100px 0; 
    }

    header .menu{  
        text-align: center; /*se le da un alineado al centro*/
    }
    header .menu a{
        margin: 10px 20px;   /*aqui se aplican estilos en base a dispositvos de maximo 800px, se lo realiza como un estilo css normal pensado en dispositvos*/
    }

    header .texto .nombre{
        font-size: 30px; /*se le da un tamaño de 30px a la fuente*/
    }

    header .texto h3{
        font-size: 18px; /*se le da un tamaño de 18px a la fuente*/
    }

    .main .acerca-de .foto{
        width: 100%;
        position: relative;
    }
    .main .acerca-de article{
        position: relative;
        width: 100%;
        top: -50px; /*se le da un tamaño de -50px a la fuente*/
        transform: translate(0px, 0); /**se utiliza para posicionar elementos en el eje horizontal (X) y vertical (Y) sin moverlos realmente,
         porque el valor 0px significa que no hay desplazamiento en ninguno de los ejes.*/
    }

    .main .menu{
        padding-top: 300px; /*se le da un padding de 300px*/
    }

    .main .menu article{
        width: 100%;   /*se le da un ancho de 100%*/
    }

    .main .galeria .foto{   /*se le da un ancho de 100%*/
        width: 50%; /*se le da un ancho de 50%*/
    }

    .main .mapa{ /*se le da un ancho de 100%*/
        width: 80%; /*se le da un ancho de 80%*/
        margin: auto; /*se le da un margen de auto*/
    }
}

@media screen and (max-width: 400px){ /*Este bloque aplica estilos adicionales para dispositivos aún más pequeños (pantallas de 400px de ancho o menos).*/
   
    .main .acerca-de article h3{ /*se le da un tamaño de 34px a la fuente*/
        font-size: 34px;  
        margin-bottom: 10px;
    }

    .main .menu article .nombre,
    .main .menu article .precio{ /*se le da un tamaño de 16px a la fuente*/
        font-size: 16px;
        line-height: 16px;
    }

    .main .galeria .foto{ /*se le da un tamaño de 100% a la fuente*/
        width: 100%;
    }

    .main .ubicacion .direccion{ /*se le da un tamaño de 100% a la fuente*/
        margin-bottom: 15px;
    }
    .main .ubicacion .direccion,
    .main .ubicacion .horarios{ /*se le da un tamaño de 100% a la fuente*/
        width: 100%;
        float: none;
        text-align: center;
    }
}